@import 'settings';
@import 'foundation';

@include foundation-everything(true);

$global-flexbox: true;

// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;

$bar-graph-height: 425px;

.bar-graph {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: $bar-graph-height;
  margin: 0;

  li {
    display: block;
    padding: rem-calc(25) 0;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    border-radius: 4px 4px 0 0;
    max-width: 20%;
    height: 100%;
    margin: 0 1.8% 0 0;
    flex: 1 1 15%;
  }

  .bar-graph-axis {
    flex: 1 1 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bar-graph-label {
    margin: 0;
    background-color: none;
    color: $dark-gray;
    position: relative;

    @include breakpoint(medium) {
      &:before,
      &:after {
        content: "";
        position: absolute;
        border-bottom: 1px dashed $dark-gray;
        top: 0;
        left: 0;
        height: 50%;
        width: 20%;

        @include breakpoint(large) {
          width: 30%;
        }
      }

      &:after {
        left: auto;
        right: 0;
      }
    }
  }

  .percent {
    letter-spacing: -3px;
    opacity: 0.4;
    width: 100%;
    font-size: rem-calc(30);
    position: absolute;

    @include breakpoint(medium) {
      font-size: rem-calc(62);
    }

    span {
      font-size: rem-calc(30);
    }
  }

  .description {
    font-weight: 800;
    opacity: 0.5;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    bottom: 20px;
    position: absolute;
    font-size: rem-calc(16);
    overflow: hidden;
  }

 .bar {
    @each $name, $color in $foundation-palette {
      &.#{$name} {
        border: 1px solid $color;
        background: linear-gradient(lighten($color, 10%), $color 70%);
      }
    }
  }
}

@mixin clipped-circle-graph-circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
  }
  
  $clipped-circle-graph-size: rem-calc(180);
  $clipped-circle-graph-percent-number-size: rem-calc(24);
  $clipped-circle-graph-percent-unit-size: rem-calc(16);
  $clipped-circle-graph-empty-color: $dark-gray;
  $clipped-circle-background-color: $light-gray;
  $clipped-circle-graph-fill-color: $primary-color;
  $clipped-circle-clip-size: rem-calc(80);
  
  .clipped-circle-graph {
    width: $clipped-circle-graph-size;
    height: $clipped-circle-graph-size;
    border-radius: 50%;
    background-color: $clipped-circle-graph-empty-color;
    position: relative;
  
    &.gt-50 {
      background-color: $clipped-circle-graph-fill-color;
    }
    &:after {
      content: '';
      @include horizontal-center;
      bottom: 19px;
      background: $clipped-circle-background-color;
      height: $clipped-circle-clip-size;
      width: $clipped-circle-clip-size;
      z-index: 3;
      transform: rotate(45deg) translate3d(0,0,0);
      transform-origin: -30px 15px;
    }
  }
  
  .clipped-circle-graph-progress {
    @include clipped-circle-graph-circle($clipped-circle-graph-size);
    clip: rect(0, $clipped-circle-graph-size, $clipped-circle-graph-size, #{$clipped-circle-graph-size/2});
    transform: rotate(-180deg) perspective(0);
  
    .clipped-circle-graph-progress-fill {
      @include clipped-circle-graph-circle($clipped-circle-graph-size);
      clip: rect(0, #{$clipped-circle-graph-size/2}, $clipped-circle-graph-size, 0);
      background: $clipped-circle-graph-fill-color;
      transform: rotate(60deg);
    }
  
    .gt-50 & {
      clip: rect(0, #{$clipped-circle-graph-size/2}, $clipped-circle-graph-size, 0);
  
      .clipped-circle-graph-progress-fill {
        clip: rect(0, $clipped-circle-graph-size, $clipped-circle-graph-size, #{$clipped-circle-graph-size/2});
        background: $clipped-circle-graph-empty-color;
      }
    }
  }
  .clipped-circle-graph-percents {
    @include clipped-circle-graph-circle(#{$clipped-circle-graph-size/1.45});
    background: $clipped-circle-background-color;
    text-align: center;
    display: table;
    z-index: 4;
  
    .clipped-circle-graph-percents-number {
      display: block;
      font-size: $clipped-circle-graph-percent-number-size;
      font-weight: bold;
      color: $clipped-circle-graph-fill-color;
    }
  
    .clipped-circle-graph-percents-units {
      display: block;
      font-size: $clipped-circle-graph-percent-unit-size;
      font-weight: bold;
    }
  }
  .clipped-circle-graph-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
  
    span {
      line-height: 1;
    }
  }
  
  


.top-bar{
    background-color: blue;
}

#textnavbar {
    margin-left: 10px;
}

#sidebar {
    background-color: lightblue;
    width: 220px;
    height:110lvh;
    position: sticky;
}

#logo {
    margin-left: 10px;
    margin-top: 10px;
}

#profiel {
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 15%;
}

#naam {
    margin-left: 20px;
    margin-top: 100px;
}

#profielnaam{
    margin-left: 25px;
}

#school{
    margin-top: 15px;
}

#knopprofiel{
    margin-left: 20px;
    border: 5px;
    background-color: limegreen;
    border-radius: 10%;
    padding: 20px;
}

#stats {
    justify-content: center;
}

#alles{}

#rondje{
    margin-left: 300px;
}


#knopdata{
    background-color: lightgreen;
    border: solid black 2px;
    border-radius: 10%;
}

#form {
    display: flex;
margin-left: 650px;
}

#submit{
    background-color: lightgreen;
    border: solid black 2px;
    border-radius: 20%;
    padding: 10px;
}

#main{
    display: flex;
    flex-direction: column;
}